@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
}
body {
    font-family: "Secular One", sans-serif !important;
}
#auth,
#offer,
#packages,
#reg,
#aboutus,
#coach,
.footer {
    width: 100%;
}
#packages {
    height: 100%;
    margin: 0;
}
#aboutus,
#auth,
#coach,
#contact,
#offer {
    padding-top: 60px;
}
.pic,
.subj,
.text-center {
    margin-bottom: 30px;
}
.row {
    min-height: 300px;
}
img {
    width: 100%;
    height: auto;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 4s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}
#footer {
    padding-top: 3%;
    min-height: 100px;
    background: #000;
}
#footer .row {
    min-height: 100%;
}
#icons a {
    margin: 0 10px 0 10px;
    font-size: 25px;
}
#docs a,
#icons a {
    color: #fff;
}
#docs a:hover,
#icons a:hover {
    color: red;
}
.btn {
    margin-top: 10px;
}
#credits {
    margin-bottom: 0px;
}
#slidesO {
    height: 70%;
}
